<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/main-nav.ejs') %>
        <main>
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                    <h1>:(</h1>
                    </div>
                    <h2>500 - Some Error Occur !!!</h2>
                    <p>We are working on fixing this issue. Sorry for inconvinence.</p><a href="/">home page</a>
                </div>
            </div>
        </main>
    </body>
</html>